[Unit]
Description=Expand /run tmpfs for large offline installs
DefaultDependencies=no
After=systemd-remount-fs.service
Before=basic.target

[Service]
Type=oneshot
ExecStart=/bin/mount -o remount,size=70% /run
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
