polkit.addRule(function(action, subject) {
    if (action.id == "org.bootcinstaller.Installer" && subject.isInGroup("liveuser")) {
        return polkit.Result.YES;
    }
});
